In [11]:
def ruby(javascript, perl, python):
    return python + javascript / perl
language = ruby(perl = 3, python = 2, javascript= 6)
print(language)

4.0

4.0

In [5]:
x=False
if x==True:
    a=10
else:
    b=10
print(a,b)

0 10

In [7]:
True or False

True

In [4]:
t = None and bool(0)
print(t)

None

In [6]:
gate = None
if gate is None and (bool(0.0) != bool(0)):
    print("data")
elif not gate or (gate == "None" and bool("artificialIntelligence")):
    print("science")
else:
    print("python")

science

In [ ]:
ruby, python, perl = 5, 6, -1
if (ruby == 5):
perl += 3
elif (python == 6):
perl = 4
if (python > 0):
perl -= 1
if (ruby < 999):
perl + 1
print(perl)

In [1]:
_hello = True
print(_hello)

True

In [2]:
123yash=20
print(123yash)

SyntaxError: invalid decimal literal (4046670809.py, line 1)

In [3]:
m = 4
n = 6
m, n = n, m 
print(m, n)

6 4

In [4]:
m=4
n = 6
m = n #6
n=m
print(m,n)

6 6

In [5]:
a = 6

In [8]:
print(id(a))
b = a
print(id(b))

4392934632
4392934632

In [9]:
print(15 // 3)
print(15 / 3)

5
5.0

In [10]:
5.5*5

27.5

In [12]:
print("hello \n yash \\ \t mishra")

hello
 yash \ 	 mishra

In [13]:
ord("a")

97

In [17]:
print("yash "*3)

yash yash yash

In [21]:
print("yash","sudhanshu","siya",sep='#',end='@\n')
print("are friends")

yash#sudhanshu#siya@
are friends

In [25]:
print (format (421.698,".1f"))

421.7

In [27]:
ord("y")

121

In [33]:
letter = 'y'
print(chr(ord(letter)-6),chr(ord(letter)-34))

s W

In [36]:
letter = 'y'
print(chr(ord(letter)-34))

W

In [39]:
print(format (20.2,">5. 0f") + "\\\\")

ValueError: Format specifier missing precision

In [43]:
result = format(20.2, ".2f") + "\\\\"
print(result)

20.20\\

In [44]:
bool("False")

True

In [45]:
a=0
if a!=0:
    b =10
else:
    c=20
print(a,b,c)

0 6 20

In [46]:
True and False

False

In [6]:
x=0
for x in range(3):
    x=100
    print(x)

100
100
100

In [7]:
count = 1
while count <= 10:
    if count % 3 == 0:
        count += 2
        continue
    print(count, end=" ")
    count += 1

1 2 5 8

In [8]:
for i in range(4):
    for j in range(i):
        print(i + j, end=" ")

1 2 3 3 4 5

In [12]:
count = 0
while count < 5:
    print(count, end=" ")
    if count == 2:
        break
    count += 1

0 1 2

In [13]:
for i in range(1, 10, 2):
    print(i, end=" ")

1 3 5 7 9

In [21]:
num = 11
while num > 0:
        if num % 2 == 0:
            num -= 1
        break

else:
    num += 1
print(num, end=" ")

11

In [27]:
my_sum = 0
for i in range(1, 5):
    my_sum += i
print(my_sum)

10

In [28]:
x = 10
while x in range(10, 5, -2):
    print("Python", end = " ")
    x -= 4

Python Python

In [29]:
print("  yash   ")

  yash

In [36]:
a = "   xyz   "
b = "abc"
print(a,b)
print(a.strip(),b)
print(a.lstrip(),b)
print(a.rstrip(),b)

   xyz    abc
xyz abc
xyz    abc
   xyz abc

In [40]:
a = "yash"
b = "sudhanshu"
print(a>b)

True

In [44]:
print(a[-1])

h

In [46]:
s = "yash andsudhanshu"
print(max(s)==min(s))

False

In [57]:
b = "sudhanshuandyash"

In [58]:
b.isalpha()#false

False

In [61]:
a = "aaaa"
print(max(a))
print(min(a))
print(max(a)==min(a))

a
a
True

In [69]:
a = "xyz"
for i in range(3):
    print(a[i])

x
y
z

In [77]:
"Feebee".find("b")

3

In [ ]:
#dan koe : naval ravikant : DEya