In [1]:
d = {}
print(type(d))

<class 'dict'>

In [2]:
x = dict()
print(type(x))

<class 'dict'>

In [2]:
d = {1:'yash',2:'sudhanshu',3:'siya',4:'samruddhi'}

In [4]:
d

{1: 'yash', 2: 'sudhanshu', 3: 'siya', 4: 'samruddhi'}

In [5]:
#key can be of any type
d = {1:'hello','siya':'ram'}

In [8]:
d

{1: 'hello', 'siya': 'ram'}

In [9]:
d[1]

'hello'

In [10]:
d["siya"]

'ram'

In [17]:
d = {1:'yash',2:'sudhanshu',3:'siya',4:'samruddhi'}
for x in d:
    print(x)

1
2
3
4

In [28]:
d = {1:'yash',2:'sudhanshu',3:'siya',4:'samruddhi'}
for x in d.values():
    print(x)

yash
sudhanshu
siya
samruddhi

In [41]:
d = {1:'yash',2:'sudhanshu',3:'siya',4:'samruddhi',5:'yashraj',6:'somnath'}
print(d[1])

yash

In [39]:
for x in d:
    print(d[x])

yash
sudhanshu
siya
samruddhi
yashraj
somnath

In [46]:
d = {1:'yash',2:'sudhanshu',3:'siya',4:'samruddhi',5:'yashraj',6:'somnath'}
for k,v in d.items():
    print('the value of key',k,'is',v)

the value of key 1 is yash
the value of key 2 is sudhanshu
the value of key 3 is siya
the value of key 4 is samruddhi
the value of key 5 is yashraj
the value of key 6 is somnath

In [49]:
d={}
n = int(input('Enter no. of student : '))
i = 1
while i <= n:
    Roll = int(input("Roll :"))
    Name = input("name is :")
    d[Roll]=Name
    i+=1

In [51]:
print(d)

{1: 'yash', 2: 'samruddhi'}

In [64]:
Entry = input().split()
for i in range(0,5):
    name = Entry[i]
    roll = int(Entry[i])
print(Entry)

ValueError: invalid literal for int() with base 10: 'yash'

In [65]:
d = {}
for letter in input():
    if letter in d:
        d[letter]=d[letter]+1
    else:
        d[letter]=1

In [66]:
d

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [69]:
e = {}
for letter in input().lower():
    if letter in 'aeiou':
        if letter in e:
            e[letter]+=1
        else:
            e[letter]=1

In [70]:
print(e)

{'e': 1, 'o': 1}

In [1]:
name = 'Python'

if name == 'java' or 'html' or 'css':
    print("Login successful")
else:
    print("not valid")

Login successful

In [7]:
name = 'Python'

if name == "java" or "html" or "css":
    print("Login successful")
else:
    print("not valid")

Login successful

In [46]:
list = [10,20,30]

In [2]:
dict.fromkeys(list) #default value as None

{10: None, 20: None, 30: None}

In [3]:
#giving default value 
x = dict.fromkeys(list,'yash_mishra')

In [4]:
x

{10: 'yash_mishra', 20: 'yash_mishra', 30: 'yash_mishra'}

In [5]:
l1 = [i for i in range(10)]

In [6]:
l2 = [i*i for i in range(10)]

In [7]:
t = dict(zip(l1,l2))

In [8]:
t

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [10]:
x = dict.fromkeys('yash_mishra',0)

In [11]:
x

{'y': 0, 'a': 0, 's': 0, 'h': 0, '_': 0, 'm': 0, 'i': 0, 'r': 0}

In [12]:
for letter in 'yash_mishra':
    print(x[letter])

0
0
0
0
0
0
0
0
0
0
0

In [6]:
for letter in 'yashmishra':
    x[letter]=x[letter]+1

In [9]:
x

{'y': 1, 'a': 2, 's': 2, 'h': 2, '_': 0, 'm': 1, 'i': 1, 'r': 1}

In [16]:
d = {1:'alpha',2:'beta',3:'gamma'}

In [17]:
d.keys()

dict_keys([1, 2, 3])

In [18]:
d.items()

dict_items([(1, 'alpha'), (2, 'beta'), (3, 'gamma')])

In [19]:
d.values()

dict_values(['alpha', 'beta', 'gamma'])

In [20]:
for x in d:
    print(x,d[x])

1 alpha
2 beta
3 gamma

In [22]:
for v in d.values():
    print(v)

alpha
beta
gamma

In [24]:
d1={1:'yash',2:'sudhanshu',3:'somnath'}
d1[3]='somnath_sombarsay'

In [26]:
d1

{1: 'yash', 2: 'sudhanshu', 3: 'somnath_sombarsay'}

In [27]:
d2 = {3:'somnath',4:'siya',5:'samruddhi'}

In [29]:
d1.update(d2) #d2 entry added to d1

In [30]:
d1

{1: 'yash', 2: 'sudhanshu', 3: 'somnath', 4: 'siya', 5: 'samruddhi'}

In [31]:
d3 ={1:'yash_mishra',6:'sajal'}

In [32]:
d1.update(d3)

In [33]:
d1

{1: 'yash_mishra',
 2: 'sudhanshu',
 3: 'somnath',
 4: 'siya',
 5: 'samruddhi',
 6: 'sajal'}

In [39]:
d1 = {1:'yash',2:'shubham'}
d2 = {3:'sudhanshu',4:'somnath'}
d3 = {**d1,**d2}

In [40]:
#error as the unhashable type dict
# d3 = {d1,d2}

In [41]:
d3

{1: 'yash', 2: 'shubham', 3: 'sudhanshu', 4: 'somnath'}

In [49]:
y = input("enter the value to print : ").split()
x= dict().fromkeys(y,0)
for word in y:
    x[word]=x[word]+1

In [51]:
x

{'what': 1, 'is': 2, 'the': 2, 'name': 1}

In [4]:
d = {1:"yash",2:"papa",3:"mummy "}

In [6]:
for k,v in d.items():
    print("the value of the key",k,"is",v)

the value of the key 1 is yash
the value of the key 2 is papa
the value of the key 3 is mummy

In [8]:
sorted(d.items(),reverse=True)#as there is no indexing then the d.sorted will not work

[(3, 'mummy '), (2, 'papa'), (1, 'yash')]

In [ ]:
def fun(n):
    if n>0:
        fun(n-1)
        print(n)

fun(4)

In [10]:
def fun(n):
    if n>0:
        print(n)
        fun(n-1)

fun(4)

4
3
2
1