### LIST ###

In [1]:
l=[]
print(type(l))

<class 'list'>

In [2]:
l=[1,2,3,4,5]
print(type(l))

<class 'list'>

In [1]:
l = []
for i in range(0,30):
    l.append(i)
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [2]:
str = 'Yash-Mishra'
print(str)
l=list(str)
print(l)

Yash-Mishra
['Y', 'a', 's', 'h', '-', 'M', 'i', 's', 'h', 'r', 'a']

In [5]:
str="sushanshu and yash"
l=str.split()
r=[]
for letter in l:
    for alphabet in letter:
        r.append(alphabet)
print(r)

['s', 'u', 's', 'h', 'a', 'n', 's', 'h', 'u', 'a', 'n', 'd', 'y', 'a', 's', 'h']

In [4]:
l=list((1,2,3,4,5))
type(l)

list

In [7]:
l = list((1,2,3,4,5))
print(l,type(l))

[1, 2, 3, 4, 5] <class 'list'>

In [8]:
print(l)

[1, 2, 3, 4, 5]

In [7]:
l.append(23)
print(l)

l.append(24.5)
print(l)

l.append(2+2j)
print(l)

l.append("Yash")
print(l)

[1, 2, 3, 4, 5, 23]
[1, 2, 3, 4, 5, 23, 24.5]
[1, 2, 3, 4, 5, 23, 24.5, (2+2j)]
[1, 2, 3, 4, 5, 23, 24.5, (2+2j), 'Yash']

In [7]:
pokemon = ["charmander","squatle","bulbasaur"]
print(pokemon)

pokemon.insert(1,"charminar")
print(pokemon)

pokemon.insert(2,"Charlizard")
print(pokemon)

['charmander', 'squatle', 'bulbasaur']
['charmander', 'charminar', 'squatle', 'bulbasaur']
['charmander', 'charminar', 'Charlizard', 'squatle', 'bulbasaur']

In [9]:
l1 = [10,20,30]
l2 = [40,50,60,70,80]
l1.extend(l2)
print(l1)# added all the element of l2 in l1
print(l2)

[10, 20, 30, 40, 50, 60, 70, 80]
[40, 50, 60, 70, 80]

In [10]:
print(l1)
l1.remove(50)
print(l1)

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40, 60, 70, 80]

In [11]:
l1.pop()

80

In [12]:
last=l1.pop()

In [13]:
last

70

In [12]:
print(l1)

[10, 20, 30, 40, 60, 70]

In [13]:
c = l1.pop()
print(c)
print(l1)

70
[10, 20, 30, 40, 60]

In [14]:
lis = [1,2,3,4,5,6]
lis.pop(),lis.pop(),lis.pop(),lis.pop()
print(lis)

[1, 2]

In [15]:
lis = [1,2,3,4,5,6,7]
del lis[3:]

In [16]:
print(lis)

[1, 2, 3]

In [15]:
l = [10,20,30,40,50,60]
x = int(input("Enter a number : "))

if x in l:
    i = l.index(x)
else : 
    i = -1
print(i)

4

In [22]:
l = [10,20,30,40,50,60]
p = l[1::2]
print(p)

[20, 40, 60]

In [23]:
l = []
for i in range(5):
    l.append(0)
print(l)

[0, 0, 0, 0, 0]

In [24]:
T = [ 0  for i in range(5)]

In [25]:
print(T)

[0, 0, 0, 0, 0]

In [17]:
y = [ 0 for i in range(0,11)]
print(y)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [26]:
t=[i*i for i in range(5)]
print(t)

[0, 1, 4, 9, 16]

In [29]:
t = [2*i for i in range(10)]
print(t)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [28]:
l = ['Yash' for i in range(4)]
print(l)

['Yash', 'Yash', 'Yash', 'Yash']

In [37]:
l = [10,1,23,0,90,-3]
id(l)

4423270912

In [38]:
l

[10, 1, 23, 0, 90, -3]

In [39]:
l.sort()

In [40]:
l

[-3, 0, 1, 10, 23, 90]

In [41]:
id(l)

4423270912

In [42]:
l = [-3, 0, 1, 10, 23, 90]

In [43]:
l.sort(reverse=True)
print(l)

[90, 23, 10, 1, 0, -3]

In [18]:
a = ['yash','aman','sudhanshu','ram']

In [21]:
a.sort(reverse=True)
print(a)

['yash', 'sudhanshu', 'ram', 'aman']

In [20]:
a.sort()
print(a)

['aman', 'ram', 'sudhanshu', 'yash']

In [50]:
a=input().split() # space ke saath string form mai
print(a)

['1', '2', '3', '4', '5', '6', '7', '10']

In [51]:
l=[2,3,4,5,6,7]
t=[]
for ele in l:
    t.append(int(ele))

In [52]:
t

[2, 3, 4, 5, 6, 7]

In [55]:
t = [int(ele) for ele in input().split()]

In [56]:
t

[1, 2, 3, 4, 5]

In [57]:
str = ['yash','is','my','name']
for i in str:
    print(i)

yash
is
my
name

In [23]:
for i in str:
    for letter in i:
        print(letter,end=' ')

print()
print(type(letter))

s u s h a n s h u   a n d   y a s h
<class 'str'>

In [63]:
list_of_list = [
    [1,2,3],
    [4,5,6],[7,8,9]
]

In [64]:
print(list_of_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [65]:
l = []
for i in range(3):
    l.append([1,2,3])

print(l)

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [67]:
l = [ [1,2,3] for i in range(3)]
print(l)

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [70]:
l = [[i for i in range(3)] for j in range(4)]

In [71]:
l

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [78]:
l = [[1,2,3,4],[5,6,7,8,9]]
t = []
for list in l:
    print(list)

[1, 2, 3, 4]
[5, 6, 7, 8, 9]

In [80]:
l = [[1,2,3,4],[5,6,7,8,9]]
t = []
for list in l:
    print(list)
    for i in list:
        print(i)

[1, 2, 3, 4]
1
2
3
4
[5, 6, 7, 8, 9]
5
6
7
8
9

In [76]:
l = [[1,2,3,4],[5,6,7,8,9]]
t = []
for list in l:
    for ele in list:
        t.append(ele)

In [77]:
t

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
dimensions = input().split()

In [2]:
dimensions

['3', '4']

In [24]:
dimensions = input().split()
m = int(dimensions[0])
n = int(dimensions[1])

l=[]

for i in range(m):
    new_row=[int(ele) for ele in input().split()]
    l.append(new_row)
print(l)

[[1, 2, 3, 4], [5, 6, 7, 8], [3, 4, 5, 6]]

In [1]:
dim = input().split()
m = int(dim[0])
n = int(dim[1])

l=[]

for i in range(m):
    n_r = []
    for j in range(n):
        n_r.append(int(input()))
    l.append(n_r)
print("the 2d list is :",l)

the 2d list is : [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

## alias ##

In [3]:
x = [10,20,30,40]

In [7]:
y = x

In [9]:
print("x: ",id(x))
print("y: ",id(y))

x:  4577719424
y:  4577719424

In [10]:
x[0] = 9999

In [11]:
print(x,y) # same kyuki gangadhar he tho saktiman hai

[9999, 20, 30, 40] [9999, 20, 30, 40]

# cloning #

In [12]:
x = [10,20,30,40,50]

In [13]:
#same as alias but different 
#same content with different object   - > different addreess id 
y = x.copy()

In [16]:
print(x,y,sep='\n')

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [18]:
print(id(x),id(y),sep='\n')

4577564288
4577800640

In [20]:
x= [10,20,30,40,50]
y = x[:]
x[0]=100
print(x,y,id(x),id(y),sep='\n')

[100, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
4577650304
4651315968

In [21]:
# flatten 
l = [[1,2,3],[4,5,6],[7,8,9]]
x=[]
for list in l:
    for ele in list:
        x.append(ele)
print(l,x,sep='\n')

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
p = [0 for i in range(3)]
print(p)

[0, 0, 0]

In [2]:
m=4
n=6
m,n=n,m
print(m,n)

6 4

In [3]:
m= 4
n = 6
m = n
n=m
print(m,n)

6 6

In [4]:
15//3

5

In [5]:
15/3

5.0

In [6]:
print(5*5,5.5*5)

25 27.5

In [7]:
x = 11
y = 2
result = x%y
print (result)

1

In [8]:
17//3+1.5

6.5

In [13]:
pow(2,2)

4

In [2]:
None == "None"

False

In [8]:
print (format (421.698, ".0f"))

422

In [12]:
print(max(-30, 10, 27, -3) + min(-30, 10, 27, -3))
print(max(-30, 10, 27, -3))
print(min(-30, 10, 27, -3))

-3
27
-30

In [13]:
letter = 'y'
print(chr(ord(letter) - 6), chr(ord(letter) - 34))

s W

In [21]:
print(format(20.2, ">5.0f") + "\\\\")
print("\\")

   20\\
\

In [31]:
print(bool("True"),
bool("False"),True == "True",False == "True",True == "False", False=="False",True==True,bool("")
)

True True False False False False True False

In [27]:
print(bool(""),bool("kdfj"))

False True